
.square-content {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #DDDDDD; /* Optional background color for illustration */
  }
  .numbers{
    color: #F2752F;
    font-size: 3.5rem
  }